* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
  padding: 20px;
  color: #333;
}

.appeal {
  background: #fff;
  border-radius: 16px;
  padding: 32px;
  max-width: 1100px;
  margin: 0 auto;
}

.appeal__text {
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  color: #131718;
}

.appeal__list {
  margin-left: 20px;
  margin-bottom: 32px;
}

.appeal__list li {
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  color: #131718;
}

.appeal__steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-bottom: 32px;
}

.step {
  display: flex;
  flex-direction: column;
}

.step__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.step h3 {
  font-size: 18px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  color: #000;
}

.step p {
  font-size: 18px;
  margin-bottom: 24px;
  font-weight: 300;
  text-align: center;
  color: #000;
}

.files {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: auto;
}

.pdf-card {
  position: relative;
  width: 85px;
  height: 110px;
  background: #fff;
  border: 4px solid #ccc;

  padding: 10px 8px;
  text-decoration: none;
  color: #e30613;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  transition: border-color 0.3s;
}

.pdf-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 24px;
  height: 24px;
  background: #e30613;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.pdf-btn svg {
  width: 11px;
  height: 11px;
}

.pdf-top {
  text-align: left;
  margin-bottom: auto;
  margin-top: 8px;
}

.pdf-label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #e30613;
}

.pdf-number {
  font-size: 25px;
  font-weight: bold;
  color: #e30613;
}

.pdf-text {
  text-align: center;
  font-size: 10px;
  color: #e30613;
  margin-top: auto;
  padding-top: 6px;
}

.upload-card {
  position: relative;
  width: 85px;
  height: 110px;
  background: #fff;
  border: 4px solid #ccc;

  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.upload-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.upload-number {
  font-size: 25px;
  font-weight: bold;
  color: #e30613;
}

.upload-check {
  color: #e30613;
  font-size: 25px;
  font-weight: bold;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s;
}

.upload-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 24px;
  height: 24px;
  background: #e30613;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.upload-btn svg {
  width: 11px;
  height: 11px;
}

.upload-card.uploaded {
  border: 2px solid #e30613;
}

.upload-card.uploaded .upload-check {
  opacity: 1;
  transform: scale(1);
}

.upload-card.uploaded .upload-btn svg {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.85 2.85 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.file-input {
  display: none;
}

.upload-card,
.file-input {
  title: "";
}

.pdf-card:hover,
.upload-card:hover {
  border-color: #e30613;
}

.step__subtitle {
  text-transform: none;

  display: block;
  margin-top: 4px;
  color: #000;

  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

.price {
  text-align: center;
}
.step:nth-child(3) .price {
  margin: 8px 0;
}

.step:nth-child(3) .btn {
  margin-top: 4px;
}

.price strong {
  color: #e60023;
  font-size: 12px;
}

.btn {
  background: #e60023;
  color: #fff;
  border: none;
  border-radius: 999px;
  padding: 14px 24px;
  font-size: 14px;
  cursor: pointer;
  margin-top: auto;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.9;
}

.appeal__info {
  border: 2px solid #e60023;
  padding: 16px;
  font-size: 13px;
  background: #eee;
}

.appeal__info p {
  margin-bottom: 6px;
}

@media (max-width: 768px) {
  .appeal__steps {
    grid-template-columns: 1fr;
  }

  .step {
    margin-bottom: 32px;
  }
}

@media (max-width: 480px) {
  .appeal {
    padding: 20px;
  }

  .btn {
    width: 100%;
  }
  .pdf-card {
    width: 85px;
    height: 125px;
    padding: 12px;
  }

  .files {
    gap: 12px;
  }
}
@media (max-width: 360px) {
  .appeal {
    padding: 15px;
  }
  
  .pdf-card,
  .upload-card {
    width: 75px;
    height: 100px;
  }
  
  .files {
    gap: 8px;
  }
}
